# 빌드 불필요/민감 파일 차단
node_modules/
dist/
.vscode/
logs/
coverage/

# 환경설정/시크릿/포매터
.env
.env.*
.eslintrc*
.eslintignore
.editorconfig
.prettierrc*
.huskyrc
.lintstagedrc*
jest.config.js

# 도커 파일 자체
Dockerfile
docker-compose.yml

# 시스템
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
